body {
  background-color: aqua;
  background-image: url("https://i.pinimg.com/originals/90/b8/eb/90b8ebe8ca7b774b017242e5bd51dc29.gif");
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 772px */
}


#tetris {
  margin: auto;
  margin-left: 40vw;
  margin-top: 10vh;
  padding: 10px;
  width: 280px
}

#score {
  display: inline-block;

}

.score {
  font-size: 25px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
}